{% extends "01-plantilla_base.html" %}

{% block contenido_base %}

<br><h1>WorldClass Tourism</h1>
<center><h6>Welcome to Worldclass Tourism, the website where you will find, not ony detailed information, but the latest experiences that people encounter in these unique places.</h6></center>

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 left-content-left">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <center><h1>Explore the world like a pro.</h1></center>
                </div>
            </div>
        </div>
    </div>
    
</header>
<style>
    body {
        background-image: url('https://wallpaper.dog/large/984959.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        background-size: 100% 100%;
    }
</style > 


{% endblock contenido_base %}
